$navbar-background : #3A92BF;
$main-background : #B2D9F5;
$navbar-link-color : white;
$food-details-background : #fff;
$font-family : "Poppins";
$max-width : 1400px;
$food-details-paragraph-color : #555;
$food-details-children-color : #f1f1f1;
$starting-pixels : 5px;
$error-background : #ffefef;