/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83
  --error: #e7195a;
}
body {
  background: #B2D9F5;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #3A92BF;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Tracker */
.tracker {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.food-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.food-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.food-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.food-details .editF {
  position: absolute;
  top: 20px;
  right: 80px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.food-details .deleteF {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.food-details .confirmF {
  /*position: absolute;*/
  top: 20px;
  right: 80px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.food-details .cancelF {
  /*position: absolute;*/
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}



/* add food form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #3A92BF;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}
  
/*Home page*/

.home-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.homeImage {
  padding: 0;
  margin: auto;
  width: 1100px;
  border-radius: 10px;

}

.intro {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.503);
  padding: 30px;
  position: absolute;
  margin-top: 15%;
  width: 50%;
}
  
/*About page*/

.about-container{
  margin-top: 30px;
}

.CardContainer{
  display: flex;
  padding: 15px;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  border-radius: 10px;
  background-color: #3A92BF
}

.CardContainer h2{
  display: block;
}

.Card-About{
  width: 18rem;
  padding: 15px;
}
